body {
    font-family: Arial, sans-serif;
    background-color: #1f2937;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    border-radius: 25px;
    background-color: #1e293b;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color :whitesmoke;
    font-weight: bold;
    margin-top: 0;
}
h2 {
    color :whitesmoke;
    font-weight: bold;
    margin-top: 0;
}
.tools {
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the images horizontally */
    gap: 20px;
    flex-wrap: wrap; /* Allow the images to wrap to the next line if necessary */
    max-width: 100%; /* Limit the width of the container */
    overflow-x: auto; /* Add horizontal scroll if the images exceed the container width */
}

.tools img {
    max-width: 100px; /* Set a maximum width for the images */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .tools img {
        max-width: 60px; /* Reduce the maximum width for smaller screens */
    }
}
.gray-box{
    padding: 50px;
}
.Statimages{
    align-items: center;
    float: left;
}
.Statimages img{
    float: left;
    padding: 5px;
}
