body {
    font-family: Arial, sans-serif;
    background-color: #1f2937;
    color: #333;
    margin: 0;
    padding: 0;
}
.container {
    border-radius: 25px;
    background-color: #1e293b;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color :whitesmoke;
    font-weight: bold;
    margin-top: 0;
}
h2 {
    color :whitesmoke;
    font-weight: bold;
    margin-top: 0;
}
.tools {
    padding: 50px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    width: 50%;
    gap: 20px;
    align-items: center;
}
.tools img {
    width: 100px;
    height: 100px;
}
.gray-box{
    padding: 50px;
}
.Statimages{
    align-items: center;
    float: left;
}
.Statimages img{
    float: left;
    padding: 5px;
}
